@use "../auxil.scss";

.container {
    padding: 0 1rem 1rem 0;

    display: flex;
    justify-content: flex-end;
    gap: .75rem;
    
    * {
        display: flex;
    }

    > a {
        font-size: clamp(1rem, 3vw, 1.5rem);
        color: auxil.$color-text-secondary;
    }

    > a > svg {
        font-size: 1.5rem;
    }    
}
