@use "../auxil.scss";

.container {
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    * {
        display: flex;
    }

    .links { 
        gap: .5rem;

        > a {
            font-size: clamp(1rem, 3vw, 1.5rem);
            color: auxil.$color-text-secondary;
        }

        > a > svg {
            font-size: 1.5rem;
        }

        > button.function {
            @include auxil.button-icon-alt;

            padding: 0;
            color: auxil.$color-text-secondary;
            font-size: clamp(1rem, 3vw, 1.5rem);

            &:hover {
                color: darken(auxil.$color-text-secondary, 10%);
            }
            
            &:active {
                color: lighten(auxil.$color-text-secondary, 25%);
            }
        }
    }
}
