@use "../auxil";

header.container {
    width: 100%;
    max-width: 550px;

    padding: 0 .5rem;
    margin: 1rem auto .5rem;
    
    display: flex;

    > .info, > .links {
        * {
            display: flex;
        }
    }  
}

// AVATAR

.avatar {
    @include auxil.avatar;

    width: 7rem;
    height: 7rem;
    border-radius: .25rem 0 0 .25rem;

    > img {
        width: 5rem;
        height: 5rem;
    }
}

// CONTENT
.content {
    height: 7rem;
    display: flex;
    flex-direction: column;
    flex: 1;
}

    // INFO

.info {
    padding: .5rem;

    flex: 1;
    display: flex;
    flex-direction: column;

    border-radius: 0 .25rem .25rem 0;
    background-color: auxil.$color-primary;

    h2 {
        letter-spacing: -1px;
        font-size: clamp(1.25rem, 3vw, 1.5rem);
    }
    
    span {
        font-weight: auxil.$font-weight-secondary;
        font-size: clamp(.9rem, 2vw, 1rem);
    }
}

    // LINKS

.links {
    height: 2rem;
    display: flex;
    justify-content: space-between;

    > * {
        display: flex;
        
        svg {
            font-size: 1.55rem;
        }
    }

    > .socials {
        width: min-content;

        padding: .2rem 1rem;
        
        justify-content: center;
        gap: 1.5rem;
        
        border-radius: 0 0 .25rem 0;
        background-color: auxil.$color-primary;

        @include auxil.responsive(1) {
            padding: .2rem .5rem;
            gap: .5rem;
        }
    }

    > .share {
        gap: .25rem;
        
        > button {
            @include auxil.button-icon-alt;

            display: flex;
            align-items: center;
        }

        @include auxil.responsive(1) {
            gap: .1rem;

            > button {
                padding: .5rem;
            }
        }
    }
}


// MISC

.qrcode {
    background-color: white;
    padding: .5rem;
}
