@use "../auxil";

// HEADER
header.container {
    position: absolute;
    right: 1rem;
}

button.trigger {
    width: 3.5rem;
    height: 3.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 100%;

    @include auxil.button-accent;

    &:hover > svg {
        opacity: 1;
        right: 3.5rem;
    }

    > svg {
        position: absolute;
        right: 2.5rem;
        
        opacity: 0;

        font-size: 2rem;
        transition: all .15s linear;
    }

    > img {
        width: 2rem;
        height: 2rem;
        margin: auto;
        display: flex;
    }
}

// ASIDE PANEL
aside.container {
    width: 35%;
    height: 95%;

    overflow: hidden;

    z-index: auxil.$level-floating;
    position: absolute;
    right: 1rem;
    bottom: 50%;
    transform: translateY(50%);
    
    display: flex;
    flex-direction: column;
    align-items: center;

    opacity: 0;
    visibility: hidden;
    background-color: auxil.$color-primary;
    border-radius: .5rem;

    transition: all .1s ease-in-out;

    &.open {
        width: 45%;
        opacity: 1;
        visibility: visible;
    }

    > .info, > .share {
        display: flex;
        flex-direction: column;
    }
    
    > button.close {
        width: min-content;

        position: absolute;
        left: 0;
        
        padding: .5rem;
        display: flex;
        
        > svg {
            font-size: 1.5rem;
        }

        @include auxil.button-icon;
    }
}

//INFO
.info {
    height: min-content;

    padding: 2rem;
    
    align-items: center;
    gap: .5rem;

    h2 {
        letter-spacing: -1px;
        font-size: clamp(1.25rem, 3vw, 1.5rem);
    }
    
    span {
        font-weight: auxil.$font-weight-secondary;
        font-size: clamp(.9rem, 2vw, 1rem);
    }

    > img {
        width: 5rem;
        height: 5rem;
    }
}

// BREAK
hr.break {
    width: 55%;
    border: 1px solid auxil.$color-text;
}

// CONTENT
.share {
    flex: 1;
    align-items: center;
    padding: 2rem 0 3rem 0;

    > * {
        display: flex;
        
        svg {
            font-size: 2rem;
        }
    }

    > .socials {
        justify-content: center;
        gap: 1.25rem;

        @include auxil.responsive(1) {
            padding: .2rem .5rem;
            gap: .5rem;
        }
    }
}

// MISC

.qrcode {
    padding: .5rem;
    margin-top: auto;
    background-color: white;
    border-radius: .5rem;
}
