@use "../auxil";

// HEADER

header {
    width: 90px;
    height: 100%;

    box-sizing: border-box;
    padding: .5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    position: fixed;

    button.logo {
        @include auxil.button-icon-alt;
    }

    hr {
        width: 100%;
        border-color: auxil.$color-text-secondary;

        &.bottom {
            margin-top: auto;
        }
    }

    div.button-bar {
        height: 100%;

        display: flex;
        flex-direction: column;
        gap: .5rem;

        button {
            @include auxil.button-icon-alt;
        }

        button > * {
            font-size: 1.75rem;
        }
    }
}

// MAIN

main {
    padding: 1.5rem 90px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

// CARDS

section.cards {
    width: 100%;

    display: flex;
    gap: 1rem;
    flex: 1;
    align-items: center;
    justify-content: center;
}

div.card {
    width: 30%;
    max-width: 350px;

    span.title {
        * {
            font-size: 1.5rem;
        }

        span:first-child {
            color: auxil.$color-accent;
        }
    }

    div.content {
        width: 100%;
        height: 400px;

        max-width: 350px;

        flex-shrink: 0;

        background:red;
        border-radius: 5px;
    }
}

div.card:first-child {
    transform: translateY(10%);
}

div.card:last-child {
    transform: translateY(20%);
}

// MANTRA

section.mantra {
    display: flex;
    gap: .5rem;
    flex-direction: column;

    text-align: center;

    h5 {
        font-size: 1.5rem;
    }

    div {
        h2 {
            font-size: 2.25rem;
        }
    
        h2:last-child {
            color: auxil.$color-accent;
        }
    }
}
